@charset "UTF-8";

@font-face {
  font-family: "SFCompactText-Semibold";
  src: local("SFCompactText-Semibold"), url("https://nomail.com.ua/files/woff/de8702183656c2d1d7b736f10e20f9bc.woff") format("woff");
}

@font-face {
  font-family: "MyriadPro-Semibold";
  src: local("MyriadPro-Semibold"), url("https://nomail.com.ua/files/woff/368d8d0ec421694172277d72614086ba.woff") format("woff");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: local("MyriadPro-Regular"), url("https://nomail.com.ua/files/woff/4dc5956a31b5832b356867433bb4e516.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url("https://nomail.com.ua/files/woff/a035ad376fc36ca17d91308451b8d015.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: local("HelveticaNeueCyr-Light"), url("https://nomail.com.ua/files/woff/2127aa6d0680b144a3bd8be9debeba09.woff") format("woff");
}

@font-face {
  font-family: "LucidaGrande";
  src: local("LucidaGrande"), url("https://nomail.com.ua/files/woff/e84c9b5584917e71ad22e0aaa55f28a1.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "MyriadPro-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "MyriadPro-Regular";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0px 10px;
}

.form__error {
  color: red;
  margin: 10px 0px 0px 0px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 !important;
  max-width: 100%;
  display: block;
  padding: 10px 100px 10px 10px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 24px 0px 0px;
}

.input__block {
  max-width: 696px;
  width: 100%;
  display: inline-block;
  max-width: 696px;
  padding: 10px 0px 10px 10px;
  border: 2px solid #3cd072;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3cd072;
  margin: 0px 24px 0px 0px;
}

.input__block_border {
  border: 0;
}

.input__contact {
  display: inline-block;
  max-width: 456px;
  width: 100%;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  font-weight: 400;
  color: #3cd072;
  margin: 0px 0px 30px 0px;
}

textarea.input {
  background-color: #fff;
  display: inline-block;
  max-width: 456px;
  width: 100%;
  padding: 10px 0px 0px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3cd072;
  margin: 0px 0px 30px 0px;
  height: 192px;
  resize: none;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.block-header {
  position: relative;
  z-index: 2;
}

.block-header__content {
  margin: 0px 0px 16px 0px;
}

.block-header__tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 0px 20px 0px;
}

.block-header__title {
  font-family: "MyriadPro-Regular";
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
  margin: 0px 0px 0px 20px;
}

.block-header__title_green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3cd072;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-header__subtitle {
  font-family: "MyriadPro-Semibold";
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
  margin: 0px 0px 0px 20px;
}

.block-header__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.block-header__text_b {
  color: #000;
  max-width: 380px;
  text-align: left;
  margin: 0px 0px 55px 0px;
}

.block-header__body-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 216px;
  height: 48px;
  background-color: #0d0d0d;
  border-radius: 5%;
  margin: 0px 0px 57px 0px;
}

._no-webp .block-header__btn{
  background: url("../img/icons/apple.png") left no-repeat; }

.block-header__btn {
  display: block;
  font-family: "LucidaGrande";
  position: relative;
}

.block-header__btn p {
  margin: 0px 0px 0px 50px;
}

.block-header__btn p:first-child {
  font-size: 10.4px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #ffffff;
}

.block-header__btn p:last-child {
  font-size: 18.9px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #ffffff;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: relative;
}

.header__title {
  font-family: "SFCompactText-Semibold";
  position: relative;
  z-index: 2;
  font-size: 35.4px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 61px 0px 105px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -35px;
}

.header__column {
  padding: 0px 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 2;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.mail {
  margin: 0px 0px 84px 0px;
}

.mail__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 12px 0px;
}

.form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-mail__btn {
  font-size: 16px;
  position: relative;
  font-weight: 600;
  color: #3cd072;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 136px;
          flex: 0 0 136px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 5%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-mail__btn:hover {
  color: #fff;
  border: 1px solid #000;
  background-color: #3cd072;
}

.phone {
  position: relative;
}

.phone_b {
  position: absolute;
  top: -33%;
  left: 15%;
}

.phone_w {
  position: absolute;
  top: -20%;
  left: 40%;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 48px 0px;
  background-color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin: 0px 18px 0px 0px;
}

.footer__copy {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blcok {
  position: relative;
  z-index: 0;
  background-color: #f0f0f0;
  min-height: 624px;
}

.blcok__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -40px;
}

.blcok__column {
  padding: 0px 40px;
}

.blcok__column:last-child {
  margin: 130px 0px 0px 0px;
}

.iphone__b {
  position: relative;
  top: -6%;
  left: 30%;
  z-index: 0;
  max-width: 180px;
  max-height: 376px;
}

.iphone__w {
  position: relative;
  max-width: 180px;
  max-height: 255px;
  top: -31%;
  left: -60%;
  z-index: 15;
}

.easy {
  position: relative;
  z-index: -1;
  background-color: #fff;
}

.easy__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.easy__icon {
  margin: 48px 0px 31px 0px;
}

.easy__title {
  font-family: "MyriadPro-Semibold";
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0px 0px 16px 0px;
}

.easy__subtitle {
  font-family: "MyriadPro-Semibold";
  font-size: 36px;
  line-height: 32px;
  color: #3cd072;
}

.easy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0px -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.easy__column {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.easy__bottom {
  background-color: #000;
  position: relative;
  z-index: 30;
  margin: -250px 0px 0px 0px;
}

.column-easy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-easy__number {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #3cd072;
  margin: 44px 0px 31px 0px;
}

.column-easy__number span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0px;
  color: #3cd072;
  font-size: 26px;
}

.column-easy__text {
  max-width: 290px;
  text-align: center;
  font-family: "MyriadPro-Semibold";
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin: 0px 0px 51px 0px;
}

.bottom-easy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-easy__title {
  font-family: "MyriadPro-Semibold";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  margin: 79px 0px 16px 0px;
}

.bottom-easy__subtitle {
  text-align: center;
  font-family: "MyriadPro-Semibold";
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #3cd072;
  margin: 0px 0px 52px 0px;
}

.bottom-easy__row {
  padding: 0px 0px 99px 0px;
}

.bottom-easy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 5px 0px 0px;
}

.bottom-easy__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  margin: 0px 0px 0px 0px;
}

.main-screen_business {
  position: relative;
  background-color: #3cd072;
  z-index: 3;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.1;
}

.business {
  min-height: 696px;
}

.business__row {
  padding: 72px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business__column {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.business__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.business__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -5px 24px 5px 0px;
  position: relative;
}

.business__icon::before {
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.business__icon span::before {
  content: "";
  background-color: #fff;
  width: 2px;
  position: absolute;
  height: 25px;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 24%;
  left: 59%;
}

.business__icon::after {
  content: "";
  background-color: #fff;
  width: 2px;
  position: absolute;
  height: 15px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 40%;
  left: 35%;
}

.business__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}

.phones-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phones-column__item {
  position: relative;
  z-index: 0;
}

.phones-column__item:first-child {
  position: relative;
  top: 43.5%;
  left: 10%;
}

.phones-column__item:nth-child(2) {
  position: relative;
  top: 30%;
  left: 15%;
}

.phones-column__item:last-child {
  position: relative;
  top: 13%;
  left: 20%;
  z-index: 0;
}

.form-business {
  position: relative;
  background-color: #f0f0f0;
  z-index: 15;
}

.form-business_b {
  background-color: #000;
}

.form-business__title {
  font-family: "MyriadPro-Semibold";
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  padding: 55px 0px 19px 0px;
}

.form-business__title_green {
  color: #3bd071;
}

.form-business__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 40px 0px;
}

.form-business__btn {
  cursor: pointer;
  white-space: nowrap;
  font-family: "MyriadPro-Semibold";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #3cd072;
  width: 216px;
  height: 48px;
  background-color: #000000;
  border-radius: 5%;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.form-business__btn_green {
  background-color: #3bd071;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.watch {
  padding: 70px 0px;
  text-align: center;
  background-color: #fff;
}

.watch__container-top {
  max-width: 680px;
  margin: 0 auto;
  padding: 0px 15px;
}

.watch__top {
  margin: 0px 0px 44px 0px;
}

.watch__icon {
  margin: 0px 0px 28px 0px;
}

.watch__title {
  font-family: "MyriadPro-Semibold";
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0px 0px 16px 0px;
}

.watch__subtitle {
  font-family: "MyriadPro-Semibold";
  font-size: 36px;
  line-height: 32px;
  color: #3cd072;
}

.watch__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin: 43px 0px 0px 0px;
}

.watch__slider {
  position: relative;
}

.watch__images {
  position: relative;
  margin-bottom: 80px;
}

.watch__container-bottom {
  margin: 0 auto;
  padding: 0px 15px;
}

.watch__btn {
  cursor: pointer;
  display: inline-block;
  font-family: "MyriadPro-Semibold";
  font-size: 16px;
  line-height: 48px;
  color: #3cd072;
  max-width: 296px;
  width: 100%;
  height: 48px;
  background-color: #000000;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.images-watch__watch {
  min-width: 30%;
  max-width: 30%;
  position: relative;
  z-index: 0;
}

.images-watch__front {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 30%;
  max-width: 30%;
}

.users__title {
  font-family: "MyriadPro-Regular";
  font-size: 36px;
  line-height: 32px;
  color: #3cd072;
  margin: 0px 0px 17px 0px;
}

.users__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #adadad;
  padding: 20px 0px;
}

.users__column:nth-child(3),
.users__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.users__column_user {
  margin: 0px 23px 25px 0px;
}

.users__column_icon {
  margin: 0px 23px 0px 0px;
}

.info-user__name {
  font-family: "MyriadPro-Regular";
  font-size: 36px;
  line-height: 32px;
  color: #3cd072;
  margin: 0px 30px 10px 0px;
}

.info-user__country {
  font-family: "HelveticaNeue";
  font-size: 24px;
  margin: 0px 0px 10px 0px;
}

.info-user__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-user__rating {
  position: relative;
  font-size: 30px;
  display: inline-block;
}

.info-user__rating::before {
  content: "★★★★★";
  display: block;
}

.info-user__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.info-user__item {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.info-user__item:checked,
.info-user__item:checked ~ .info-user__label {
  color: #3cd072;
}

.info-user__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #b3b3b3;
}

.info-user__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.info-user__label:hover,
.info-user__label:hover ~ .info-user__label,
.info-user__label:checked ~ .info-user__label:hover {
  color: #3cd072;
}

.info-user__reviews {
  font-size: 16px;
  padding: 0 0 0 15px;
  color: #b2b2b2;
}

.watt-user__title {
  font-family: "HelveticaNeue";
  font-size: 24px;
  font-weight: 300;
  margin: 0px 0px 15px 0px;
}

.watt-user__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watt-user__icon {
  margin: 0px 10px 0px 0px;
}

.watt-user__number {
  white-space: nowrap;
  font-family: "HelveticaNeueCyr-Light";
  font-size: 68px;
}

.contact {
  padding: 95px 0px 72px 0px;
  position: relative;
}

.contact__row {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -50px;
}

.contact__column {
  padding: 0px 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact__title {
  font-family: "MyriadPro-Semibold";
  font-size: 36px;
  line-height: 32px;
  color: #000000;
  margin: 0px 0px 24px 0px;
}

.contact__btn {
  border-radius: 5px;
  color: #fff;
  width: 216px;
  height: 48px;
  background-color: #000000;
}

.contact__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.social__title {
  font-family: "MyriadPro-Semibold";
  font-size: 36px;
  line-height: 32px;
  color: #000000;
  margin: 0px 0px 32px 0px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 36px 0px;
}

.social__icon {
  margin: 0px 19px 0px 0px;
}

.social__label {
  font-family: "MyriadPro-Semibold";
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: 600px) {
  .icons-watch {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
    z-index: 1;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }

  .block-header__body-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .form-business__btn:hover {
    background-color: #3cd072;
    color: #000;
  }

  .form-business__btn_green:hover {
    background-color: #fff;
    color: #3cd072;
  }

  .watch__btn:hover {
    background-color: #3cd072;
    color: #000;
  }
}

@media (max-width: 1368px) {
  .bottom-easy__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 150px;
    grid-template-rows: 150px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .input {
    margin: 0px 12px 0px 0px;
  }

  .header__body {
    margin: 0px -20px;
  }

  .header__column {
    padding: 0px 20px;
  }

  .form-mail {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .easy__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .column-easy__number {
    margin: 22px 0px 20px 0px;
  }

  .column-easy__text {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 964px) {
  .easy__row {
    margin: 0px -5px;
  }

  .easy__column {
    padding: 0px 5px;
  }
}

@media (max-width: 895px) {
  .form-mail__btn {
    margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 880px) {
  .block-header__text_b {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .blcok__row {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .blcok__column:last-child {
    margin: 50px 0px 0px 0px;
  }

  .iphone {
    display: none;
  }
}

@media (max-width: 839px) {
  .users__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .users__column:first-child,
  .users__column:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .users__column_icon {
    padding: 0px 0px 15px 0px;
  }

  .info-user__bottom {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .input__block {
    margin: 0px 0px 10px 0px;
  }

  .block-header__title_green {
    font-size: 27px;
    margin: 0px 0px 0px 10px;
  }

  .header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .form-mail__btn {
    margin: 0px 0px 0px 0px;
  }

  .phone {
    display: none;
  }

  .blcok__column {
    padding: 0;
  }

  .bottom-easy__item:last-child {
    margin: 0px 30px 0px 0px;
  }

  .business__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .phones-column__item {
    display: none;
  }

  .form-business__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .images-watch__watch {
    min-width: 40%;
    max-width: 40%;
  }

  .images-watch__front {
    min-width: 40%;
    max-width: 40%;
  }

  .icons-watch {
    display: none;
  }
}

@media (max-width: 665px) {
  .contact__row {
    margin: 0px -25px;
  }

  .contact__column {
    padding: 0px 25px;
  }
}

@media (max-width: 533px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__images {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 460px) {
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contact__btn {
    margin: 0px 0px 20px 0px;
  }

  .social {
    display: block;
    text-align: center;
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 435px) {
  .form-mail__btn {
    margin: 10px 0px 0px 0px;
  }
}

._webp .block-header__btn{ background: url(../img/icons/apple.webp) left no-repeat; }